@import "smart-grid.less";
@import "admixtures.less";
.filters-wrap {
    .cc();
    padding: 5px 0;
}
.filters {
    .content();
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
    &__search-wrap {
        flex-basis: 100%;
        display: flex;
        position: relative;
    }
    &__search-icon {
        position: absolute;
        width: 30px;
        height: 30px;
        z-index: 2;
        left: 10px;
        top: 0;
        line-height: 30px;
        font-size: 25px;
        color: #aaa;
    }
    &__search {
        display: block;
        flex-basis: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
        padding-left: 40px;
        border: 1px solid #aaa;
        &:focus {
            outline: 0;
        }
    }
    &__search-options {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 5px;
        margin-right: auto;
    }
    &__search-options-item {
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 3px 15px 3px 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 17px;
        margin: 0 2px;
        &:hover {
            background: #bbffaa;
        }
    }
    &__search-options-item_left {
        margin-right: auto;
    }
    &__search-options_caret {
        display: inline-block;
        padding-left: 5px;
    }
    &__dictionary, &__dictionary-list, &__settings-all {
        font-size: 20px;
        color: #0c6a00;
        line-height: 30px;
        display: block;
        padding: 0 10px;
    }
    &__list-select {
        flex-basis: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px 0;
        
        border-bottom: 1px solid #aaa;
    }
    &__dictionary-select-all {
        margin-left: auto;
        font-size: 17px;
        line-height: 30px;
        height: 30px;
        cursor: pointer;
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        
        .fa {
            padding-right: 5px;
            color: #0c6a00;
        }
        &:hover {
            background: #bbffaa;
        }
    }
    &__dictionary-select {
        font-size: 17px;
        line-height: 30px;
        height: 30px;
        padding: 0 35px 0 10px;
        background: #b7ff97;
        border-radius: 15px;
        position: relative;
        flex-grow: 0;
    }
    &__dictionary-select-close {
        display: block;
        position: absolute;
        right: 5px;
        top: 2px;
        width: 26px;
        height: 26px;
        line-height: 26px;
        color: #000;
        background: #e37676;
        cursor: pointer;
        font-size: 12px;
        text-align: center;
        border-radius: 100%;
        &:hover {
            background: #f00;
        }
    }
    
    &__options {
        flex-basis: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px 0;
        
        border-bottom: 1px solid #aaa;
    }
    &__options-header {
        display: flex;
    }
    &__options-header-btn {
        margin-left: auto;
        font-size: 17px;
        line-height: 30px;
        height: 30px;
        cursor: pointer;
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        margin: 0 5px;
        position: relative;
        .fa {
            color: #0c6a00;
        }
        &:hover, &.active {
            background: #bbffaa;
        }
        &.active:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -10px;
            width: 0;
            height: 0;
            border-top: 10px solid #aaa;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            margin-left: -5px;
        }
    }
    &__options-header-btn-text {
        padding-left: 5px;
    }
    
    &__options-btns {
        flex-basis: 100%;
        height: 100%;
        border-top: 1px solid #aaa;
        margin-top: 8px;
    }
    
    
    
}