@import "smart-grid.less";
@import "admixtures.less";
.popup-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 10;
    display: flex;
}
.popup {
    .content();
    margin: auto;
}